In [2]:
import datetime
a=datetime.datetime.now()
print("today-now function:",a)

today-now function: 2025-04-07 12:45:17.105397

In [3]:
today=datetime.datetime.today()
print("\ntoday: ",today)

today:  2025-04-07 12:45:35.345179

In [4]:
tomorrow=today+datetime.timedelta(days=3)
print("\ntomorrow:",tomorrow)

tomorrow: 2025-04-10 12:45:35.345179

In [5]:
yesterday=today-datetime.timedelta(days=2)
print("\nyesterday: ",yesterday)

yesterday:  2025-04-05 12:45:35.345179

In [6]:
a=datetime.datetime.now()
b=datetime.datetime(2020,6,8,23,10,25,404040)
print("\ndate format [2020,6,8,23,10,25,404040): ",b)

date format [2020,6,8,23,10,25,404040):  2020-06-08 23:10:25.404040

In [7]:
from datetime import date
d=date(2024, 12, 31) 
print("\nReplacing date",d,d.replace(day=15))

Replacing date 2024-12-31 2024-12-15

In [8]:
t=date(2004,4,17)
d=date(2004,4,17).ctime() 
print("\nDay and Month:",t,d)

Day and Month: 2004-04-17 Sat Apr 17 00:00:00 2004

In [9]:
today=date.today()
print("\nToday:",today)
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:",today.day)

Today: 2025-04-07
Current year: 2025
Current month: 4
Current day: 7

In [10]:
import datetime
cd=datetime.datetime.now()
print(cd)

2025-04-07 12:48:12.424939

In [11]:
res=cd.strftime("%y") 
print("\nTwo-digit year:", res)

Two-digit year: 25

In [12]:
res1=cd.strftime("%Y") 
print("\nFour-digit year:", res1)

Four-digit year: 2025

In [13]:
res=cd.strftime("%m") 
print("\nTwo-digit month [01, 12]:",res)

Two-digit month [01, 12]: 04

In [14]:
res=cd.strftime("%b")
print("\nShort version of month", res)

Short version of month Apr

In [15]:
res=cd.strftime("%B")
print("\nFull name of month:",res)

Full name of month: April

In [16]:
res=cd.strftime("%j") 
print("\nDays of the year:", res)

Days of the year: 097

In [17]:
res=cd.strftime("%D") 
print("\nShortcut for %m/%d/%y (e.g., 04/18/12):", res)

Shortcut for %m/%d/%y (e.g., 04/18/12): 04/07/25

In [18]:
res=cd.strftime("%d") 
print("\nTwo-digit day [01, 31]:", res)

Two-digit day [01, 31]: 07

In [19]:
res=cd.strftime("%a")
print("\nShort version of day", res)

Short version of day Mon

In [20]:
res=cd.strftime("A")
print("\nFull name of a day:", res)

Full name of a day: A

In [21]:
res=cd.strftime("%H") 
print("\nHour (24-hour clock) [00, 23]:",res)

Hour (24-hour clock) [00, 23]: 12

In [22]:
res=cd.strftime("%I") 
print("\nHour (12-hour clock) [01, 12]",res)

Hour (12-hour clock) [01, 12] 12

In [23]:
res=cd.strftime("%M")
print("\nTwo-digit minute [00, 59]:", res)

Two-digit minute [00, 59]: 48

In [24]:
res=cd.strftime("%S")
print("\nSecond (00, 61] (seconds 60, 61 account for leap seconds):",res)

Second (00, 61] (seconds 60, 61 account for leap seconds): 12

In [25]:
res=cd.strftime("%F") 
print("\nShortcut for %Y-%m-%d (eg, 2012-4-18):",res)

Shortcut for %Y-%m-%d (eg, 2012-4-18): 2025-04-07

In [26]:
res=cd.strftime("%f") 
print("\nMicrosecond as an integer, zero-padded (from 000000 to 999999);", res)

Microsecond as an integer, zero-padded (from 000000 to 999999); 424939

In [27]:
res=cd.strftime("%p")
print("\nLocale equivalent of AM or PM:", res)

Locale equivalent of AM or PM: PM

In [28]:
res=cd.strftime("%x")
print("\nLocale-appropriate formatted date (eg, in the United States, May 1, 2012 yields '05/01/2012)", res)

Locale-appropriate formatted date (eg, in the United States, May 1, 2012 yields '05/01/2012) 04/07/25

In [29]:
res=cd.strftime("%X")
print("\nLocale-appropriate time (e.g., '04:24:12 PM'):",res)

Locale-appropriate time (e.g., '04:24:12 PM'): 12:48:12

In [30]:
#TIME SERIES 3
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
         datetime(2011, 1, 5),
         datetime(2011, 1, 7),
         datetime(2011, 1, 8),
         datetime(2011, 1, 10),
         datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    1.899852
2011-01-05    0.128341
2011-01-07    0.990144
2011-01-08    0.134386
2011-01-10    0.491337
2011-01-12   -0.379004
dtype: float64

In [31]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [32]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [33]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
                    index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.439373
2000-01-02   -1.486027
2000-01-03   -1.475026
2000-01-04    1.031262
2000-01-05    0.984097
                ...
2002-09-22   -0.969982
2002-09-23    0.293505
2002-09-24    0.036211
2002-09-25   -0.319198
2002-09-26   -0.559652
Freq: D, Length: 1000, dtype: float64

In [34]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.063389
2001-01-02   -1.033987
2001-01-03    0.778260
2001-01-04   -1.605667
2001-01-05   -0.242212
                ...
2001-12-27    0.010637
2001-12-28    1.651908
2001-12-29    0.061225
2001-12-30   -0.587743
2001-12-31   -0.981833
Freq: D, Length: 365, dtype: float64

In [35]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -0.935938
2001-05-02   -1.671715
2001-05-03    1.213853
2001-05-04   -1.617010
2001-05-05   -0.321566
2001-05-06   -1.704224
2001-05-07    0.415414
2001-05-08    3.349741
2001-05-09   -1.997700
2001-05-10    0.590344
2001-05-11    1.869039
2001-05-12    1.238782
2001-05-13   -1.832880
2001-05-14   -1.687228
2001-05-15   -1.520332
2001-05-16    0.102131
2001-05-17    0.775144
2001-05-18    0.784764
2001-05-19   -0.899575
2001-05-20   -0.594242
2001-05-21   -1.446208
2001-05-22   -0.251262
2001-05-23   -0.093851
2001-05-24   -0.639043
2001-05-25   -0.180526
2001-05-26    1.165910
2001-05-27   -0.456261
2001-05-28    0.780588
2001-05-29   -1.282867
2001-05-30   -1.205556
2001-05-31   -1.733112
Freq: D, dtype: float64

In [36]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.439373
2000-01-02   -1.486027
2000-01-03   -1.475026
2000-01-04    1.031262
2000-01-05    0.984097
Freq: D, dtype: float64

In [37]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -1.264913
2000-02-02    1.133961
2000-02-03    1.286669
2000-02-04   -0.795461
2000-02-05   -0.316115
2000-02-06    0.785520
2000-02-07    0.208111
2000-02-08   -0.155497
2000-02-09    0.620502
2000-02-10   -0.124308
2000-02-11    0.401680
2000-02-12    0.711475
2000-02-13    0.849915
2000-02-14   -0.655533
2000-02-15    0.136735
Freq: D, dtype: float64

In [38]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.386704
2000-09-27    0.110949
2000-09-28    0.559155
2000-09-29    0.633248
2000-09-30   -1.632297
                ...
2002-09-22   -0.969982
2002-09-23    0.293505
2002-09-24    0.036211
2002-09-25   -0.319198
2002-09-26   -0.559652
Freq: D, Length: 731, dtype: float64

In [39]:
print("\nDate range from 26-9-2001 to 25-9- 2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9- 2002:
 2001-09-26    1.404324
2001-09-27    0.739509
2001-09-28   -1.361195
2001-09-29   -0.840924
2001-09-30   -1.324955
                ...
2002-09-21   -0.562933
2002-09-22   -0.969982
2002-09-23    0.293505
2002-09-24    0.036211
2002-09-25   -0.319198
Freq: D, Length: 365, dtype: float64

In [40]:
#TIME SERIES 4 
import pandas as pd
import numpy as np
from datetime import datetime
ran=pd.date_range("2020-08-15","2020-09-01")
print("Date range:\n",ran)

Date range:
 DatetimeIndex(['2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
               '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
               '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
               '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
               '2020-08-31', '2020-09-01'],
              dtype='datetime64[ns]', freq='D')

In [41]:
ran=pd.date_range("2020-07-15", periods=10) 
print("\nDate range with periods and default day frequency:\n",ran)

Date range with periods and default day frequency:
 DatetimeIndex(['2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18',
               '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22',
               '2020-07-23', '2020-07-24'],
              dtype='datetime64[ns]', freq='D')

In [56]:
ran=pd.date_range("2020-07-15", periods=10, freq='H')
print("\nDate range with periods and hour frequency:\n",ran)
ran=pd.date_range("2020-07-15", periods=10, freq='H')

Date range with periods and hour frequency:
 DatetimeIndex(['2020-07-15 00:00:00', '2020-07-15 01:00:00',
               '2020-07-15 02:00:00', '2020-07-15 03:00:00',
               '2020-07-15 04:00:00', '2020-07-15 05:00:00',
               '2020-07-15 06:00:00', '2020-07-15 07:00:00',
               '2020-07-15 08:00:00', '2020-07-15 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [43]:
ran=pd.period_range("2020-10", periods=10, freq="M") 
print("\nDate range with periods and month frequency:\n",ran)

Date range with periods and month frequency:
 PeriodIndex(['2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03',
             '2021-04', '2021-05', '2021-06', '2021-07'],
            dtype='period[M]')

In [44]:
ran=pd.timedelta_range(0, periods=8, freq="H")
print("\nZero day with hour frequency periods:\n",ran)
<ipython-input-8-e528f2e6b9e5>:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ran=pd.timedelta_range(0, periods=8, freq="H")

SyntaxError: invalid syntax (2753564949.py, line 3)

In [45]:
#TIME SERIES  5 
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2020,1,5),
         datetime(2020,1,10),
         datetime(2020,1,15),
         datetime(2020,1,20),
         datetime(2020,1,25)]
ts = pd.Series(np.random.randn(5), index=dates)
print("\nWith this date object, create a series with datetime index:\n",ts)
//<ipython-input-1-d39a36850452>:1: DeprecationWarning: 
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466
// import pandas as pd

SyntaxError: invalid syntax (109779442.py, line 12)

In [46]:
res=ts.truncate(after="1/15/2020")
print("\nTruncate method to truncate datetime series \n", res)

Truncate method to truncate datetime series
 2011-01-02    1.899852
2011-01-05    0.128341
2011-01-07    0.990144
2011-01-08    0.134386
2011-01-10    0.491337
2011-01-12   -0.379004
dtype: float64

In [49]:
da=pd.date_range("10/1/2022", periods=10, freq="W-SUN")
print("\nDate range with day periods.\n",da)

Date range with day periods.
 DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [50]:
date=pd.DatetimeIndex(["1/1/2020","1/2/2020","1/2/2020","1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5), index=date)
print("\nDuplicate datetime index:\n",ts1)

Duplicate datetime index:
 2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int32

In [51]:
group=ts1.groupby(level=0)
print("\nRepeated date counts:\n",group.count())

Repeated date counts:
 2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

In [53]:
long_df=pd.DataFrame(np.random.randn(10,4),index=da,columns=list("ABCD"))
print("\nMulti-column DataFrame with datatime index:\n",long_df)

Multi-column DataFrame with datatime index:
                    A         B         C         D
2022-10-02 -0.925628  0.133633  0.884902  0.356929
2022-10-09 -0.148538 -1.536002  0.295247 -0.639046
2022-10-16 -1.431454  0.715138 -0.459963 -1.239751
2022-10-23 -0.350848 -0.839448  0.155905 -0.752762
2022-10-30 -0.669608 -1.444948  1.965223 -0.259311
2022-11-06 -0.088796 -1.519374  0.822021 -0.410533
2022-11-13 -3.090629  1.728347 -0.331506 -0.690173
2022-11-20  1.824881  0.360728 -0.009278  0.923260
2022-11-27 -0.348001  0.344122  1.749160 -1.007987
2022-12-04  1.885870  1.784276  0.144851  0.339181